.Section svg > * {
  stroke: #AED581 !important;
}

.Section-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-left: 4px;
}

.SectionChild {
  flex: 200px;
  margin: 0 5px 5px 0;
}

.SectionChild > * {
  width: 100%;
}

@media (max-width: 700px) {
  .SectionChild {
    flex: 1;
  }

  .Section-list {
    flex-direction: column;
  }

  .Section-list .Section-button {
    width: 80%;
    margin-bottom: 10px;
  }
}
