.Devices-list {
  display: flex;
  width: 100%;
}

.Device-list {
  display: flex;
  flex-wrap: wrap;
}

.Device {
  flex: 100px;
}

button {
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  background-color: #008CBA;
  padding: 15px;
  border-radius: 5px;
  border-width: 1px; 
  color: white;
  border-color: white;
}


button:hover {
  background-color: white; 
  color: #008CBA; 
  border: 1px solid #008CBA;
}