.Devices-list {
  display: flex;
  width: 100%;
}

.Device-list {
  display: flex;
  flex-wrap: wrap;
}

.Device,
.SelectedDevice {
  flex: 100px;
}

.SelectedDevice-button {
  background: darkorange;
}

.SelectedDevice-button:hover {
  color: darkorange; 
  border: 1px solid darkorange;
}