.Devices-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.Device {
  flex: 200px;
  margin: 0 5px 5px 0;
}

.Device > * {
  width: 100%;
}

@media (max-width: 700px) {
  .Device {
    flex: 1;
  }

  .Devices-list {
    flex-direction: column;
  }

  .Devices-list .Device-button {
    width: 80%;
    margin-bottom: 10px;
  }
}
