.Activities-list {
  display: flex;
  width: 100%;
}

.Activity,
.SelectedActivity {
  flex: 1;
}

.SelectedActivity-button {
  background: darkorange;
}

.SelectedActivity-button:hover {
  color: darkorange; 
  border: 1px solid darkorange;
}