.TopRow > *,
.MiddleRow > *,
.BottomRow > * {
  display: inline;
}

.TopRow > * > *,
.MiddleRow > * > *,
.BottomRow > * > * {
  margin: 0 5px 5px 0;
}

.Controller {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.Controller > div:not(.TopRow):not(.MiddleRow):not(.BottomRow) {
  margin-bottom: 5px; 
}

.List {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 305px;
}

.Other-List {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 450px;
  margin: auto;
}

.Other-List > .Device > .Device-button, 
.Input-button,
.Navigation-button,
.Output-button,
.Mode-button {
   width: 100%;
}

.Input,
.Output,
.Mode {
  flex-basis: 145px;
  margin: 0 5px 5px 0;
}

.Other-List .Device,
.Navigation {
  flex: 1;
  margin: 0 5px 5px 0;
}