.MegaSwitcher {
  display: flex;
  padding-bottom: 20px;
}

@media (max-width: 700px) {
  .MegaSwitcher {
    flex-direction: column;
  }
}

@media (min-width: 700px) {
  .MegaSwitcher {
    height: 500px;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.MegaSwitcher > * {
  flex: 1 1 0%;
}

@media (max-width: 700px) {
  .MegaSwitcher > * {
    flex: inherit;
  }
}

.MegaSwitcher > .Selector > * {
  padding: 10px;
  text-align: left
}

.MegaSwitcher button {
  padding: 15px;
  width: 50%;
}

.MegaSwitcher-section {
  display: flex;
  flex-direction: column;
}

blockquote {
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
  text-align: left;
}

.TurnOnSecondTv {
  text-align: left;
  display: flex;
  justify-content: center;
}

.TurnOnSecondTv label {
  margin-left: -10px;
}

.TurnOnSecondTv-buttons > * {
  margin: 10px;
}

/*@media (max-width: 700px) {
  .TurnOnSecondTv > * {
    width: 43% !important
  }
}

@media (max-width: 650px) {
  .TurnOnSecondTv > * {
    width: 70% !important
  }
}

@media (max-width: 300px) {
  .TurnOnSecondTv > * {
    width: 80% !important
  }
}*/
